.container {
  border: 1px solid #000;
  padding: 5px;
  position: relative;
}

.nav-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  color: brown;
  z-index: 1;
}
/* Eroare aici la nav-bottom */

.legend {
  position: absolute;
  background-color: gray;
  border: 1px solid red;
  top: -5px;

}

.section-title {
  position: sticky;
  background-color: green;
  color: white;
  padding: 8px;
  top: 8px;
  text-align: center;
  z-index: 1;
}

.sup {
  position: relative;
  top: 1px;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  background-color: green;
  z-index: 1;
}
